*{
	box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
/*Header*/
#header-nav{
	background-color: grey;
	border-radius: 0;
	border: 0;
}
/*Travel Vlog heading*/
.brand {
	color: black;
	font-size: 1.9em;

	font-family: 'Kalam', cursive;
}
.brand:hover{
	text-decoration: none;
	color: black;
}
/*button*/
#nav-list{
	margin:10px;
}
.place{
	text-align: center;
	color: white;
	font-family: 'Kalam', cursive;
	font-size: 20px;
}
.place:hover{
	color: black;
}  
/*button ends*/
/*Main Body starts*/
h1{
	font-family: 'Kalam', cursive;
  color: black;	
  text-align: center;
}

section {
	border:	1px solid black;
	background-color: grey;
	height: 450px;
	font-family: 'Kalam', cursive;
	color: black;
	position: relative;

	margin: 10px;
}

#section1 {
	border: 1px solid black;
	text-align: center;
	width: 35%;
	margin-left: 35%;
	font-family: 'Kalam', cursive;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 10px;
	background-color: #FFFF00;
}
#section2 {
	border: 1px solid black;
	text-align: center;
	width: 35%;
	margin-left: 35%;
	font-family: 'Kalam', cursive;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 10px;
	background-color: #FFFF00;
}
#section3 {
	border: 1px solid black;
	text-align: center;
	width: 35%;
	margin-left: 35%;
	font-family: 'Kalam', cursive;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 10px;
	background-color: #FFFF00;
}


