*{
  box-sizing: border-box;
}


body {
  font-size: 16px;
  color: #fff;
  background-color:#222930;
  font-family: 'VT323', monospace;
  width: 100%
}

/** HEADER **/
#header-nav {
  background-color: #23ABA7;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
 font-family: 'VT323', monospace;
  color:#E9E9E9 ;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 5px #000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: right;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #222930;
  text-align: center;
  border-top: 1px solid #222930;
}
#nav-list a:hover {
  color:  white;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #222930;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
/*.row{
  position: relative;
}
.download a{
  position: absolute;

  text-align: center;
  margin-right: 20px: 

}*/
hr{
  width: 50%;
}

.download a{
  color: #23ABA7;
  font-family: 'Josefin Slab', serif;
}

.download a:hover{
  text-decoration: none;
  color: white;
}
#copy{
  font-family: 'Josefin Slab', serif;
}
/* END FOOTER */





/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 1px solid white;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/* END MENU CATEGORIES PAGE */




/********** Large devices only **********/
@media (min-width: 1200px) {
  .panel-footer  {
    width: 100%;
    height: 100%
  }
  .row+div{
  position: relative;

}
.download a{
  position: relative;
  float: left;
  padding:50px; 

}

  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  .row+div{
  position: relative;

}
.download a{
  position: relative;
  float: left;
  padding:35px;

}
 }

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* footer*/
  .row+div{
  position: relative;

}
.download a{
  position: relative;
  float: left;
  padding:20px;

}
  /* End footer */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /*  name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
 
  .panel-footer  {
    width: 100%;
    height: 100%
  }
  /* End Footer */



 
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}


